html
  head
    title Mi sitio bonito - #{title}
    
    block css
      link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

    block scripts
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js")
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
        integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')

  body
    block content
    block foot
      #footer
        p some footer content